<%= form_for(@article) do |f| %>
<div class="col-8 mx-auto">
  <div class="card">
    <div class="card-header text-center">
    <% unless["edit"].include?(params[:action])%>
      <h3>Create Article</h3>
    <% else %>
       <h3>Update Article</h3>
    <% end %>
    </div>
    <div class="card-body text-right">
    <%= render "layouts/error", obj: @article%>
      <div class="form-group row">
        <%= f.label :title, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-6">
          <%= f.text_field :title, class: "form-control" %>
        </div>  
      </div>
      <div class="form-group row">
        <%= f.label :description, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-6">
          <%= f.text_area :description, class: "form-control", rows: 6 %>
        </div>  
      </div>
      <div class="form-group row">
        <%= f.label :image, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-6">
          <%= f.file_field :image, class: "form-control"%>
        </div>  
      </div>
       <div class="form-group row">
        <%= f.label :article_category, class: "col-sm-4 col-form-label" %>
        <div class="col-sm-2">
          <%= f.select(:category_id) do %>
            <% Category.all.each do |c| %>
             <%= content_tag(:option, c.name, value: c.id) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="justify-content-center row my-4">
    <div class="col-sm-4">
      <strong><%= link_to "back", root_path, class: "btn btn-secondary btn-block" %></strong>
    </div>
    <div class="col-sm-4">
      <strong><%= f.submit  class: "btn btn-primary btn-block" %></strong>
    </div>
  </div>
 </div>
<% end %>

