<% if logged_in && !current_user.admin %>
  <div class="text-right border-bottom border-secondary" %>
    <strong><%= link_to "Create Article", new_article_path, class: "btn btn-outline-primary mb-2" %></strong>
    <strong><%= link_to "Liked", new_article_path, class: "btn btn-outline-success mb-2" %></strong>
    <strong><%= link_to "Commented", new_article_path, class: "btn btn-outline-info mb-2" %></strong>
    <strong><%= link_to "Download_pdf", download_pdf_path(format: 'pdf'), class: "btn btn-outline-warning mb-2" %></strong>
  </div>
<% elsif logged_in && current_user.admin %>
 <div class="text-right  border-bottom border-secondary mb-2" %>
    <strong><%= link_to "create category", new_category_path, class: "btn" %></strong>
  </div>
<% end %>

<div class="form-group row justify-content-center">
  <%= render "articles/filter_search" %>
</div>

<% @article.each do |article| %>
  <div class="card col-6 mx-auto mb-3">
    <a class="btn" href="/articles/<%= article.id %>">
      <div class="image">
        <%= image_tag article.image.url %>
      </div>
    </a>
    <div class="card-body">
      <div class="d-flex justify-content-between mx-2">
        <h3 class="card-title"><em><%= article.title %></em></h3>
        <h6 class="card-title mt-2">category: <%= article.category.name %></h6>       
      </div>
      <p class="card-text mx-2"><%= article.description.truncate(53) %></p>

    <% if logged_in %>
      <% if current_user.reactions.find_by(article: article) == nil && current_user != article.user %>
        <div class="justify-content-center row my-4" id="like-icon-article-<%= article.id %>">
          <%= render "articles/create", article: article %>
        </div> 
      <% elsif current_user.reactions.find_by(article: article) != nil && current_user != article.user  %>
        <div id="like-icon-article-<%= article.id %>" >
          <%= render 'articles/like', article: article %>
        </div>
      <% end %>
    <% end %>
    <% if current_user == article.user %>
      <div class="justify-content-center row my-4">
        <div class="col-sm-4">
          <strong><%=  link_to "edit", edit_article_path(article), class: "btn btn-primary btn-block" %></strong>
        </div>
      </div>
    <% end %> 
    </div>
  </div>
<% end %>

